#header {
    margin: 0px auto;
    min-width:1300px;
    max-width:1300px;
    text-align:left;
}

.topcapimage {
    position: absolute;
    width: 1300px;
    height: 100px;
    left: 310px;
    top: 0px;
}

.topcapstatuspanel {
    position: absolute;
    width: 446px;
    height: 33px;
    left: 737px;
    top: 57px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
